$font-ar: "DINNextLT";
$font-en: "montserrat";

$font-path: "../fonts/";
$img-path: "../images/";

// colors


// text
$gray-text: #7D7D7D;
$gray-text2:#5E5E5E;
$dark-blue-text:#192946;
$black-text:#1B222C;
$violet-text:#7566A0;
$violet-text2:#804D98;


// bg
$darkBlue-bg:#1D4487;
$light-grey-bg:#F8F8F8;

$theme-colors: (
  // "primary": $primary-color,
  // "warning": $orange-color,
  // "success": $green-color,
  // "gray": $gray-color,
  // "red": $red-color
);

// font weight
$w-thin: 100; // (Hairline)
$w-extra-light: 200; // (Ultra Light)
$w-light: 300;
$w-normal: 400; // (Regular)
$w-medium: 500;
$w-semi-bold: 600; // (Semi Bold)
$w-bold: 700;
$w-extra-bold: 800; // (Ultra Bold)
$w-black: 900; //(Heavy)



//more 

$raduis-normal : 8px;